

/*
aqua
57, 181, 189

orange
223, 97, 23

green
165, 221, 60

pink
216, 0, 101

grey
129, 130, 133
*/
@import url("reset.css");
@font-face {
  font-family: 'MisoLight';
  src: url('../type/miso/miso-light.eot');
  src: local('Miso'), local('Miso-Light'), url('../type/miso/miso-light.woff') format('woff'), url('../type/miso/miso-light.ttf') format('truetype'), url('../type/miso/miso-light.svg#Miso-Light') format('svg');
}
html {
overflow-y: auto;
background-color: transparent;
}
body
{
  font-family: 'Helvetica Neue';
  font-weight:200;
  font-size:13px;
  line-height:16px;
  color: rgb(126,126,126);
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 10px;
overflow-y: scroll;
overflow-x: hidden;
}
a {color:rgb(126,126,126);}
::-webkit-scrollbar {
width: 5px;
height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 30px;
display: block;
background-color: transparent;
}
::-webkit-scrollbar-track-piece  {
background-color: #cacaca;
-webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #9a9a9a;
-webkit-border-radius: 6px;
}
div
{
  border: 0px solid black;
}
h1
{
  font-family: 'MisoLight';
  line-height: 42px;
  font-size: 42px;
  font-weight: 100;
  letter-spacing: -0.03em;
  padding:20px;
}
h2
{
  font-size: 13px;
  line-height: 8px;
  font-weight: 300;
  padding:5px 0 5px 20px;
}
h3 {
	font-family: 'MisoLight';
	font-size:20px;
	margin-bottom:10px;
	color:rgb(79,79,79);
}
h3 span {color:#a9a9a9;
  font-family: 'Helvetica Neue';
  font-weight:200;
  font-size:13px;
  line-height:16px;
  color: rgb(126,126,126);}
a {text-decoration: none;}
a:hover, #v4constant_main a:hover {text-decoration: underline;}

div.v4default
{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 2px solid rgb(129, 130, 133);
}


/* constant layout starts here (the part that doesn't move) */
div.v4constant
{
  width: 375px;
  margin: auto;
  position: relative;
}

/* first 1/3 of the constant layout */
div#v4constant_title
{
  height: 80px;
}
div#v4constant_title_text
{
  	font-size: 14px;
	  font-weight: 300;
	  font-style: italic;
  position: absolute;
  bottom: -4px;
  right: 5px;
  z-index: 75;
}


/* second 1/3 of the constant layout */
div#v4constant_main
{
  height: 138px;
  position: relative;
}
div#v4constant_main_text
{
  position: absolute;
  left: 0px;
  top: 0px;
}
div#v4constant_main_silhouette
{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 84px;
  height: 95px;
  background: url('../images/v4silhouette.png') no-repeat center;
}
div#v4constant_main_silhouette:hover {text-decoration: none;}
div#v4constant_main_outline
{
  margin: auto;
  position: relative;
  left: 0px;
  
  background:rgba(255, 255, 255, 0.9);
  
  height: 134px;
  width: 371px;
  
  z-index: 50;
}

div#v4buttons
{
  position: absolute;
  right: -28px;
  top: 0px;
  
  padding-top: 8px;
}
div#v4buttons div
{
  padding: 0px;
  margin-bottom: 5px;
  
  height: 20px;
  width: 30px;
}
div#v4buttons a
{
  display: block;
  text-decoration: none;
}
div#v4b1
{
  background:url('../images/v4b1.png') right, rgb(57, 181, 189);
}
div#v4b2
{
  background:url('../images/v4b2.png') right, rgb(223, 97, 23);
}
div#v4b3
{
  background:url('../images/v4b3.png') right, rgb(165, 221, 60);
}
div#v4b4
{
  background:url('../images/v4b4.png') right, rgb(216, 0, 101);
}


/* last 1/3 of the constant layout */
div#v4constant_foot
{
  height: 25px;
}
div#v4constant_foot_text
{
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 75;
}


/* the slide part */
div#v4slides
{
  position: relative;
  width: 371px;
  margin: auto;
}
div.v4slide
{
  left: 8px;
  width: 350px;
  margin: auto;
  position: absolute;
  top: -1000px;
  padding: 0px;
}

div.v4topper
{
  color: rgb(255,255,255);
  
  font-family: 'MisoLight';
  font-size: 42px;
  font-weight: 100;
  
  height: 120px;
}
div.v4topper div.alignment
{
  position: relative;
  margin:auto;
  padding-top:40px;
  width: 200px;
  height: 80px;
  text-align: center;
  background: url('../images/arrow.png') no-repeat bottom;
}
div.v4topper p
{
  margin: 0px;
}

div.v4slide ul li:first-child
{
  font-family: 'MisoLight';
  font-size: 20px;
  font-weight: 200;
  position: relative;
}
div.v4slide ul li:first-child div
{
  position: absolute;
  margin:10px 0 0 10px;
}
div.v4slide ul
{
  padding: 0px;
  
  border: 1px solid rgb(129, 130, 133);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  list-style-type: none;
  font-size: 13px;
  
  margin: 15px;
}
div.v4slide ul li:first-child {height:40px;}
div.v4slide ul li
{
  height: 40px;
  border-bottom: 1px solid rgb(129, 130, 133);
  position: relative;
}
div.v4slide ul li img
{
  border: 0px;
  margin-top: 9px;
  margin-right: 10px;
  margin-left: 10px;
  float: left;
}
div.v4slide ul li.marker img {margin-top:2px;}
div.v4slide ul li div.contact-link{padding-top:11px;}
div.v4slide ul li.marker{height:90px;}
div.v4slide ul li p {margin-top:10px;line-height:20px;}
div.v4slide ul li div.network-link
{
  left: 38px;
  display: inline;
  position: absolute;
  top: 11px;
}
#networks img {margin:12px 20px 0 10px;}
div.v4slide ul li div.chevron
{
  height: 100%;
  width: 20px;
  background: url('../images/chevron.png') no-repeat center;
  display: inline;
  position: absolute;
  right: 0px;
}
div.v4slide ul li span {font-size: 13px;
  font-weight: 300;
  font-style: italic;}
div.v4slide#credits ul li p {margin-top:5px;}
div.v4slide ul li.credits_pad {padding:10px;}
div.v4slide ul li.wife {height:80px;}
div.v4slide ul li.dad {height:100px;}
div.v4slide ul li.gregg {height:100px;}
div.v4slide ul li.lacy {height:60px;}
div.v4slide ul li.others {height:95px;}
div.v4slide ul li:last-child
{
  border-bottom: 0px;
}




div#about
{
  display: none;
}
div#about a {color:rgb(57, 181, 189);}

div#about .v4topper
{
  background:rgb(57, 181, 189);
}
div#contact a {color:rgb(223, 97, 23);}
{
  display: none;
}
div#contact .v4topper
{
  background:rgb(223, 97, 23);
}

div#networks
{
  display: none;
}
div#networks a {color:rgb(125, 175, 55);}
div#networks .v4topper
{
  background:rgb(165, 221, 60);
}

div#credits
{
  display: none;margin-bottom:100px;
}
div#credits .v4topper
{
  background:rgb(216, 0, 101);
}
.rounded {border:1px solid rgb(129, 130, 133);margin:15px;padding:15px;-moz-border-radius: 3px; -webkit-border-radius: 3px;}
.about_copy {float:right;width:185px; }



