html
  font-size: 1rem
body
  margin: 45vh 2.5rem 3rem
  background: #fff
@media(min-width: 600px)
  body
    margin: 45vh 11rem 3rem


// TypeStyle
body, h1, h2, p, blockquote
  font-style: normal
  font-variant: normal
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
  font-size: 1rem
  text-align: left
  line-height: 1.45
  // calc(36px + 3vw)
h1, h2, h3, h4
  font-weight: inherit
  line-height: 1.2
h1
  font-size: 1.81em
  font-weight: 700
  line-height: 2rem

h2
  line-height: 1.4rem
  font-size: 1.9em
h3
  font-size: 1.81em
  font-weight: 500
  line-height: 1.6rem
  span
    font-weight: 400
    padding-left: 1rem
    font-size: 0.8em
h4
  font-size: 1.414em
  margin-top: 41vh
p
  font-weight: 400
  line-height: 20px
  margin-bottom: 1.3em
  + .strong
    font-weight: 700
    span
      font-weight: 400
      margin-left: 1rem
blockquote

  font-weight: 400
  line-height: 30px
a
img 
    max-width: 600

// Hide link styles
.content-box-1
  a:nth-of-type(2)

// Stat things
.numbers
  h3
    font-weight: 700

p.strong    
    font-weight: 700

//Timeline Things
ul
  list-style-type: none

.items
    display: flex
    flex-flow: row wrap
    padding: 0
    .video
        video 
            width: 100%
            max-width: 500px
            max-height: 300px
    .content    
        width: 100%
    @media(min-width: 600px)
        .video
            margin-right: 2rem
        .content    
            width: 40%

// Header

header 
    .video   
        width: 100%
    .headshot 
        background-image: url("./img/profile2.jpg")
        background-size: cover
        height: 240px
        min-width: 240px
        max-width: 240px
        border-radius: 240px
        border: 6px solid black
        
    .content
        padding-top: 5.5rem
    @media(max-width: 590px)
        .headshot
            margin: 0 auto
    @media(min-width: 600px)
        li.video 
            width: 45%
        .headshot 
            margin-right: 4rem
        .items li.content
            padding-top: 3.5rem
            width: 100%
    @media(min-width: 1024px)
        li.video 
            width: 260px
        .headshot 
            margin-right: 4rem
        .items li.content
            padding-top: 5.5rem
            width: 50%


    

.recent
    p.strong
        margin-top: 4rem
    ul  
        border-left: 1px solid #eee
    li  
        position: relative
        &:before
            content: ""
            border-bottom: 1px solid #eee
            width: 0.75rem
            display: block
            position: absolute
            top: 0.8rem
            left: -2.5rem
.articles
    h4
    .articles
        border-left: 1px solid #eee
        li.article
            position: relative
            margin-top: 2rem
            &:before
                content: ""
                border-bottom: 1px solid #eee
                width: 1.25rem
                display: block
                position: absolute
                top: 0.8rem
                left: -2.5rem
            a.web
                text-decoration: none


.leadership 
    .content    
        height: 100px
#slideshow
    position: relative 
    button
        font-size: 0.8rem
        font-family: inherit
        border: 0
        padding: 0   
        text-decoration: underline
        position: absolute
        top: 17rem
        left: 2rem 
        z-index: 1
        outline: none
.slide
    position: absolute
    padding: 2rem
    @media(min-width: 600px)
        width: 100%
    .quote
        font-size: 1.1rem
    .credit
        font-size: 0.8rem
    &:before
        content: "“"
        font-size: 4rem
        opacity: 0.2
        width: 0.75rem
        display: block
        position: absolute
        top: 0rem
        left: 0rem

.project-list, .leadership-list
    border-left: 1px solid #eee

.project
    margin-bottom: 3rem
    position: relative      
    &:before
        content: ""
        border-bottom: 1px solid #ddd
        width: 0.75rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
    video
        background: #efefef
        order: 0
    img
        width: 87vw
    > p
        margin-top: 1rem
        padding-top: 14rem
    > a
        margin: 0.5rem 1rem 0 0
        display: inline-block
    @media(min-width: 600px)
        video
        img
            width: 600px
        > p
            margin-top: 1rem
            padding-top: 1rem
            width: 540px

.timeline
  display: block
  p
    margin: 0
  .dates
    border-left: 1px solid #eee
    li.archive
      position: relative
      margin-top: 2.6rem
      &:before
        content: ""
        border-bottom: 1px solid #ddd
        width: 0.75rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
      h3.title
        margin-bottom: 0
        span.type
          display: none

      p
        span
            margin-right: 1rem
        span.title  
            font-weight: 700
    li.role
      position: relative
      margin-top: 2.6rem
      &:before
        content: ""
        border-bottom: 1px solid #eee
        width: 0.75rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
      h4.title
        margin-bottom: 0rem
        margin-top: 0rem
        font-weight: 700
      p.company

    li.note
      position: relative
      margin-top: 2.6rem
      
      &:before
        content: ""
        border-bottom: 1px solid #eee
        width: 0.75rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
      h4.title
        margin-bottom: 0rem
        margin-top: 0rem
        font-weight: 700
      p.company

.social
    margin-top: 15rem
    a
        border: none
        color: black
        padding: 0
        margin: 0
        display: inline
        margin: 0 1rem

@mixin links($web, $press, $case)
    a.web
        display: $web
    a.press
        display: $press
    a.case
        display: $case


.content-
    &box-med >
        @include links (inline-block, none, none)
    &box-med-vid >
        @include links (inline-block, none, none)
    &box-sb >
        @include links (inline-block, none, none)
    &box-dr >
        @include links (inline-block, inline-block, none)
    &box-av >
        @include links (inline-block, inline-block, none)
    &box-os >
        @include links (none, none, none)
    &box-3 >
        @include links (none, none, inline-block)
    &box-4 >
        @include links (none, inline-block, none)
    &box-5 >
        @include links (inline-block, inline-block, inline-block)
    &box-6 >
        @include links (inline-block, none, none)
    &box-7 >
        @include links (inline-block, inline-block, inline-block)
    &box-8 >
        @include links (inline-block, none,  none)
    &box-9 >
        @include links (inline-block, none, none)
    &box-10 >
        @include links (inline-block, none, inline-block)