html
  font-size: 1rem
body
  margin: 45vh 2.5rem 3rem
  background: #fff
@media(min-width: 600px)
  body
    margin: 45vh 11rem 3rem


// TypeStyle
body, h1, h2, p, blockquote
  font-style: normal
  font-variant: normal
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace
  font-size: 1rem
  text-align: left
  line-height: 1.45
  // calc(36px + 3vw)
h1, h2, h3, h4
  font-weight: inherit
  line-height: 1.2
h1
  font-size: 1.81em
  font-weight: 700
  line-height: 1.6rem
@media(min-width: 600px)
  h1
    line-height: 2rem
h2
  line-height: 1.4rem
  font-size: 1.9em
h3
  font-size: 1.81em
  font-weight: 700
  line-height: 1.6rem
  span
    font-weight: 400
    padding-left: 1rem
    font-size: 0.8em
h4
  font-size: 1.414em
  margin-top: 41vh
p
  font-weight: 400
  line-height: 20px
  margin-bottom: 1.3em
  + .strong
    font-weight: 700
    span
      font-weight: 400
      margin-left: 1rem
blockquote

  font-weight: 400
  line-height: 30px
a
img 
    max-width: 600

// Hide link styles
.content-box-1
  a:nth-of-type(2)

// Stat things

//Timeline Things
ul
  list-style-type: none

.timeline
  display: block
  p
    margin: 0
  .dates
    border-left: 1px solid #eee
    li.archive
      position: relative
      margin-top: 1.4rem
      &:before
        content: ""
        border-bottom: 1px solid #eee
        width: 0.75rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
      h3.title
        margin-bottom: 0
        span.type
          display: none

      p.date

        span.thing
          margin-left: 1rem
    li.role
      position: relative
      padding-bottom: 1.5rem
      margin-top: 1.5rem
      &:before
        content: ""
        border-bottom: 1px solid #eee
        width: 1.25rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
      h3.title
        margin-bottom: 0rem
      p.company

    li.note
      position: relative
      padding-bottom: 1rem
      &:before
        content: ""
        border-bottom: 1px solid #eee
        width: 1.5rem
        display: block
        position: absolute
        top: 0.8rem
        left: -2.5rem
      h3.title
        margin-bottom: 0rem
      p.company
    .project
      display: block
      padding-bottom: 3rem
      video
        width: 87vw
        height: 28vh
        position: absolute
        right: 0
        margin-left: -1.5rem
      img
        width: 87vw
        position: absolute
        right: 0
        margin-left: -1.5rem
      > p
        margin-top: 1rem
        padding-top: 14rem
      > a
        margin: 1rem 1rem 0 0
        display: inline-block
      @media(min-width: 600px)
        video
          width: 600px
          height: 300px
          position: static
          margin-left: -2.1rem
          margin-top: 1rem
        img
          width: 600px
          position: static
          margin-left: -2.1rem
          margin-top: 1rem
        > p
          margin-top: 1rem
          padding-top: 1rem
          width: 540px

  .social
    margin-top: 15rem
    a
      border: none
      color: black
      padding: 0
      margin: 0
      display: inline
      margin: 0 1rem

  @mixin links($web, $press, $case)
    a.web
      display: $web
    a.press
      display: $press
    a.case
      display: $case


  .content-
    &box-med >
      @include links (inline-block, none, none)
    &box-med-vid >
      @include links (inline-block, none, none)
    &box-sb >
      @include links (inline-block, none, none)
    &box-dr >
      @include links (inline-block, none, inline-block)
    &box-av >
      @include links (inline-block, inline-block, none)
    &box-os >
      @include links (inline-block, none, none)
    &box-3 >
      @include links (inline-block, inline-block, none)
    &box-4 >
      @include links (inline-block, inline-block, none)
    &box-5 >
      @include links (inline-block, inline-block, inline-block)
    &box-6 >
      @include links (inline-block, none, none)
    &box-7 >
      @include links (inline-block, inline-block, inline-block)
    &box-8 >
      @include links (none, none,  none)
    &box-9 >
      @include links (inline-block, none, none)
    &box-10 >
      @include links (inline-block, none, inline-block)