@charset "UTF-8";
html {
  font-size: 1rem; }

body {
  margin: 45vh 2.5rem 3rem;
  background: #fff; }

@media (min-width: 600px) {
  body {
    margin: 45vh 11rem 3rem; } }

body, h1, h2, p, blockquote {
  font-style: normal;
  font-variant: normal;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1rem;
  text-align: left;
  line-height: 1.45; }

h1, h2, h3, h4 {
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  font-size: 1.81em;
  font-weight: 700;
  line-height: 1.6rem; }

@media (min-width: 600px) {
  h1 {
    line-height: 2rem; } }

h2 {
  line-height: 1.4rem;
  font-size: 1.9em; }

h3 {
  font-size: 1.81em;
  font-weight: 500;
  line-height: 1.6rem; }
  h3 span {
    font-weight: 400;
    padding-left: 1rem;
    font-size: 0.8em; }

h4 {
  font-size: 1.414em;
  margin-top: 41vh; }

p {
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 1.3em; }
  p + .strong {
    font-weight: 700; }
    p + .strong span {
      font-weight: 400;
      margin-left: 1rem; }

blockquote {
  font-weight: 400;
  line-height: 30px; }

img {
  max-width: 600; }

.numbers h3 {
  font-weight: 700; }

p.strong {
  font-weight: 700; }

ul {
  list-style-type: none; }

h1 {
  display: flex; }

.headshot {
  background-image: url("./img/profile2.jpg");
  background-size: cover;
  height: 240px;
  width: 240px;
  border-radius: 240px;
  display: flex;
  flex-direction: column;
  border: 6px solid black; }
  .headshot + span {
    width: 45vw;
    position: relative;
    left: 4rem;
    padding-top: 5.5rem; }

.recent p.strong {
  margin-top: 4rem; }

.recent ul {
  border-left: 1px solid #eee; }

.recent li {
  position: relative; }
  .recent li:before {
    content: "";
    border-bottom: 1px solid #eee;
    width: 0.75rem;
    display: block;
    position: absolute;
    top: 0.8rem;
    left: -2.5rem; }

.articles .articles {
  border-left: 1px solid #eee; }
  .articles .articles li.article {
    position: relative;
    margin-top: 2rem; }
    .articles .articles li.article:before {
      content: "";
      border-bottom: 1px solid #eee;
      width: 1.25rem;
      display: block;
      position: absolute;
      top: 0.8rem;
      left: -2.5rem; }
    .articles .articles li.article a.web {
      text-decoration: none; }

.items {
  display: flex;
  flex-flow: row wrap;
  padding: 0; }
  .items .video {
    margin-right: 2rem; }
  .items .content {
    width: 40%; }

#slideshow {
  position: relative; }
  #slideshow button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    text-decoration: underline;
    position: absolute;
    top: 0;
    left: 0; }

.slide {
  position: absolute;
  padding: 2rem;
  width: 100%; }
  .slide .quote {
    font-size: 1.1rem; }
  .slide .credit {
    font-size: 0.8rem; }
  .slide:before {
    content: "“";
    font-size: 4rem;
    opacity: 0.2;
    width: 0.75rem;
    display: block;
    position: absolute;
    top: 0rem;
    left: 0rem; }

.project-list, .leadership-list {
  border-left: 1px solid #eee; }

.project {
  margin-bottom: 3rem;
  position: relative; }
  .project:before {
    content: "";
    border-bottom: 1px solid #ddd;
    width: 0.75rem;
    display: block;
    position: absolute;
    top: 0.8rem;
    left: -2.5rem; }
  .project video {
    background: #efefef;
    order: 0; }
  .project img {
    width: 87vw; }
  .project > p {
    margin-top: 1rem;
    padding-top: 14rem; }
  .project > a {
    margin: 0.5rem 1rem 0 0;
    display: inline-block; }
  @media (min-width: 600px) {
    .project img {
      width: 600px; }
    .project > p {
      margin-top: 1rem;
      padding-top: 1rem;
      width: 540px; } }

.timeline {
  display: block; }
  .timeline p {
    margin: 0; }
  .timeline .dates {
    border-left: 1px solid #eee; }
    .timeline .dates li.archive {
      position: relative;
      margin-top: 2.6rem; }
      .timeline .dates li.archive:before {
        content: "";
        border-bottom: 1px solid #ddd;
        width: 0.75rem;
        display: block;
        position: absolute;
        top: 0.8rem;
        left: -2.5rem; }
      .timeline .dates li.archive h3.title {
        margin-bottom: 0; }
        .timeline .dates li.archive h3.title span.type {
          display: none; }
      .timeline .dates li.archive p span {
        margin-right: 1rem; }
      .timeline .dates li.archive p span.title {
        font-weight: 700; }
    .timeline .dates li.role {
      position: relative;
      margin-top: 2.6rem; }
      .timeline .dates li.role:before {
        content: "";
        border-bottom: 1px solid #eee;
        width: 0.75rem;
        display: block;
        position: absolute;
        top: 0.8rem;
        left: -2.5rem; }
      .timeline .dates li.role h4.title {
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-weight: 700; }
    .timeline .dates li.note {
      position: relative;
      margin-top: 2.6rem; }
      .timeline .dates li.note:before {
        content: "";
        border-bottom: 1px solid #eee;
        width: 0.75rem;
        display: block;
        position: absolute;
        top: 0.8rem;
        left: -2.5rem; }
      .timeline .dates li.note h4.title {
        margin-bottom: 0rem;
        margin-top: 0rem;
        font-weight: 700; }

.social {
  margin-top: 15rem; }
  .social a {
    border: none;
    color: black;
    padding: 0;
    margin: 0;
    display: inline;
    margin: 0 1rem; }

.content-box-med > a.web {
  display: inline-block; }

.content-box-med > a.press {
  display: none; }

.content-box-med > a.case {
  display: none; }

.content-box-med-vid > a.web {
  display: inline-block; }

.content-box-med-vid > a.press {
  display: none; }

.content-box-med-vid > a.case {
  display: none; }

.content-box-sb > a.web {
  display: inline-block; }

.content-box-sb > a.press {
  display: none; }

.content-box-sb > a.case {
  display: none; }

.content-box-dr > a.web {
  display: inline-block; }

.content-box-dr > a.press {
  display: inline-block; }

.content-box-dr > a.case {
  display: none; }

.content-box-av > a.web {
  display: inline-block; }

.content-box-av > a.press {
  display: inline-block; }

.content-box-av > a.case {
  display: none; }

.content-box-os > a.web {
  display: none; }

.content-box-os > a.press {
  display: none; }

.content-box-os > a.case {
  display: none; }

.content-box-3 > a.web {
  display: none; }

.content-box-3 > a.press {
  display: none; }

.content-box-3 > a.case {
  display: inline-block; }

.content-box-4 > a.web {
  display: none; }

.content-box-4 > a.press {
  display: inline-block; }

.content-box-4 > a.case {
  display: none; }

.content-box-5 > a.web {
  display: inline-block; }

.content-box-5 > a.press {
  display: inline-block; }

.content-box-5 > a.case {
  display: inline-block; }

.content-box-6 > a.web {
  display: inline-block; }

.content-box-6 > a.press {
  display: none; }

.content-box-6 > a.case {
  display: none; }

.content-box-7 > a.web {
  display: inline-block; }

.content-box-7 > a.press {
  display: inline-block; }

.content-box-7 > a.case {
  display: inline-block; }

.content-box-8 > a.web {
  display: inline-block; }

.content-box-8 > a.press {
  display: none; }

.content-box-8 > a.case {
  display: none; }

.content-box-9 > a.web {
  display: inline-block; }

.content-box-9 > a.press {
  display: none; }

.content-box-9 > a.case {
  display: none; }

.content-box-10 > a.web {
  display: inline-block; }

.content-box-10 > a.press {
  display: none; }

.content-box-10 > a.case {
  display: inline-block; }
